<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Pendataan Penduduk</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Pendataan Penduduk</h1>
        <hr>
        <h2>Update Data Penduduk</h2>
        <br>
        <form th:object="${data_penduduk}" method="POST" th:action="@{/update}">

            <input type="hidden" th:field="*{id}" />

            <div class="form-group">
                <label for="nik">NIK</label>
                <input type="text" id="nik" class="form-control" placeholder="Masukkan NIK ..." th:field="*{nik}">
            </div>

            <div class="form-group">
                <label for="nokk">Nomer Kartu Keluarga</label>
                <input type="text" id="nokk" class="form-control" placeholder="Masukkan Nomer Kartu Keluarga ..." th:field="*{nokk}">
            </div>

            <div class="form-group">
                <label for="nama">Nama</label>
                <input type="text" id="nama" class="form-control" placeholder="Masukkan Nama ..." th:field="*{nama}">
            </div>

            <div class="form-group">
                <label for="alamat">Alamat</label>
                <textarea class="form-control" id="alamat" rows="3" placeholder="Masukkan Alamat ..." th:field="*{alamat}"></textarea>
            </div>

            <div class="form-group">
                <label for="tempatlahir">Tempat Lahir</label>
                <input type="text" id="tempatlahir" class="form-control" placeholder="Masukkan Tempat Lahir ..." th:field="*{tempatlahir}">
            </div>

            <div class="form-group">
                <label for="tanggallahir">Tanggal Lahir</label>
                <input type="date" id="tanggallahir" class="form-control" th:field="*{tanggallahir}">
            </div>

            <div class="form-group">
                <label for="agama">Agama</label>
                <select id="agama" class="form-control" th:field="*{agama}">
                    <option value="">- Pilih Agama</option>
                    <option value="Islam">Islam</option>
                    <option value="Protestan">Protestan</option>
                    <option value="Katolik">Katolik</option>
                    <option value="Hindu">Hindu</option>
                    <option value="Buddha">Buddha</option>
                    <option value="Konghucu">Konghucu</option>
                </select>
            </div>

            <div class="form-group">
                <label for="jeniskelamin">Jenis Kelamin</label>
                <select id="jeniskelamin" class="form-control" th:field="*{jeniskelamin}">
                    <option value="">- Pilih Jenis Kelamin</option>
                    <option value="Laki-Laki">Laki-Laki</option>
                    <option value="Perempuan">Perempuan</option>
                </select>
            </div>

            <div class="form-group">
                <label for="pendidikan">Pendidikan</label>
                <select id="pendidikan" class="form-control" th:field="*{pendidikan}">
                    <option value="">- Pilih Pendidikan</option>
                    <option value="SD">SD</option>
                    <option value="SMP">SMP</option>
                    <option value="SMK">SMK</option>
                    <option value="SMA">SMA</option>
                    <option value="D3">D3</option>
                    <option value="S1">S1</option>
                    <option value="S2">S2</option>
                    <option value="S3">S3</option>
                </select>
            </div>

            <div class="form-group">
                <label for="pekerjaan">Pekerjaan</label>
                <input type="text" id="pekerjaan" class="form-control" placeholder="Masukkan Pekerjaan ..." th:field="*{pekerjaan}">
            </div>
            <div class="form-group">
                <label for="statuspernikahan">Status Pernikahan</label>
                <select id="statuspernikahan" class="form-control" th:field="*{statuspernikahan}">
                    <option value="">- Pilih Status Pernikahan</option>
                    <option value="Belum Kawin">Belum Kawin</option>
                    <option value="Kawin">Kawin</option>
                    <option value="Cerai Hidup">Cerai Hidup</option>
                    <option value="Cerai Mati">Cerai Mati</option>
                </select>
            </div>

            <div class="form-group">
                <label for="statuskeluarga">Status Keluarga</label>
                <select id="statuskeluarga" class="form-control" th:field="*{statuskeluarga}">
                    <option value="">- Pilih Status Keluarga</option>
                    <option value="Suami">Suami</option>
                    <option value="Istri">Istri</option>
                    <option value="Anak">Anak</option>
                    <option value="Cucu">Cucu</option>
                </select>
            </div>

            <div class="form-group">
                <label for="kewarganegaraan">Kewarganegaraan</label>
                <select id="kewarganegaraan" class="form-control" th:field="*{kewarganegaraan}">
                    <option value="">- Pilih Kewarganegaraan</option>
                    <option value="WNI">WNI</option>
                    <option value="WNA">WNA</option>
                </select>
            </div>

            <div class="form-group">
                <label for="nopaspor">Nomer Pospor</label>
                <input type="text" id="nopaspor" class="form-control" placeholder="Masukkan Nomer Pospor ..." th:field="*{nopaspor}">
            </div>

            <div class="form-group">
                <label for="nokitas">Nomer Kitas</label>
                <input type="text" id="nokitas" class="form-control" placeholder="Masukkan Nomer KItas ..." th:field="*{nokitas}">
            </div>

            <div class="form-group">
                <label for="namaayah">Nama Ayah</label>
                <input type="text" id="namaayah" class="form-control" placeholder="Masukkan Nama Ayah ..." th:field="*{namaayah}">
            </div>

            <div class="form-group">
                <label for="namaibu">Nama Ibu</label>
                <input type="text" id="namaibu" class="form-control" placeholder="Masukkan Nama Ibu ..." th:field="*{namaibu}">
            </div>

            <div class="form-group">
                <label for="golongandarah">Golongan Darah</label>
                <select id="golongandarah" class="form-control" th:field="*{golongandarah}">
                    <option value="">- Pilih Golongan Darah</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="AB">AB</option>
                    <option value="O">O</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <hr>

        <a th:href="@{/tables_pendataanpenduduk.html}"> Back to Pendataan Penduduk Table</a>
    </div>
</body>

</html>